.wrapper {
  height: 50vh;
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 24ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

h3, h4{
  text-align: center;
  bottom: 20px;
  font-family: monospace;
  font-size: 2em;
  font-weight: 100;
}

.container { 
  height: 200px;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

#output{
  font-weight:bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h3{
  height: -400vh;
}