body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: linear-gradient(45deg, #ff6b6b, #f06178, #c445a4, #6a0572);
            background-size: 400% 400%;
            animation: gradientAnimation 15s infinite;
        }

        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            25% {
                background-position: 100% 50%;
            }
            50% {
                background-position: 0% 50%;
            }
            75% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        .container {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 400px;
            transition: transform 0.3s ease;
        }

        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            color: #666;
            margin-bottom: 20px;
        }

        iframe {
            border: none;
            width: 100%;
            height: 200px;
        }

        /* Add hover effect */
        .container:hover {
            transform: scale(1.05);
        }

        /* Modern button styles */
        .refresh-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            font-family: 'Gabarito', sans-serif; /* Use Gabarito font */
            transition: background-color 0.3s ease;
            margin-top: 10px; /* Add margin to lower the button */
        }

        .refresh-button:hover {
            background-color: #0056b3;
        }
